:root {
  --main-green: #476545;
  --main-blue: #3e657b;
  --main-tan: #a99970;
  --main-red: rgb(183, 43, 43);
}

* {
  margin: 0;
}

body {
  background-color: var(--main-tan);
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#show-discs-container {
  width: 100%;
}

.main-nav {
  background-color: var(--main-green);
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
}

.secondary-nav {
  background-color: var(--main-green);
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
}

.navigation {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content-container {
  display: flex;
  height: 250px;
}

.content-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 33%;
  flex-direction: column;
}

.auth-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 75vh;
}

.auth-container > * {
  margin: 50px;
}

.nav-button {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 16px;
}

.nav-button:hover {
  background-color: #314130;
}

.button1-design {
  background-color: var(--main-blue);
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14x;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.button1-design:hover {
  background-color: #304c5d;
}

.button2-design {
  background-color: var(--main-green);
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.button2-design:hover {
  background-color: #314130;
}

.button3-design {
  background-color: var(--main-red);
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.button3-design:hover {
  background-color: rgb(109, 26, 26);
}

.message-container {
  background-color: var(--main-blue);
  font-family: 'Josefin Sans', sans-serif;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.flex-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-disc-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-top: 10vh;
  width: 50%;
}

.create-disc-form > * {
  border-radius: 10px;
}

.stats-update-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.update {
  margin-top: 3vh;
  padding: 10px;
}

.stats {
  padding: 10px;
}

.reviews {
  display: flex;
  align-items: flex-start;
  text-align: left;
  justify-content: left;
  flex-direction: column;
  padding: 30px;
  color: white;
}

.review-disc-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-review {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--main-green);
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

/*  hide at bottom  */
.hide {
  display: none;
}
