:root {
  --main-green: #43563c;
  --main-blue: #536a78;
  --main-tan: #a99970;
  --main-red: rgb(183, 43, 43);
}

* {
  margin: 0;
}

body {
  /* https://www.vecteezy.com/vector-art/6298547-white-background-with-green-tech-hexagon */
  background-image: url('./assets/stump.avif');
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#show-discs-container {
  width: 100%;
}

.index-disc-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.main-nav {
  background-color: var(--main-green);
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 36px;
  font-family: 'Pacifico', cursive;
}

.secondary-nav {
  background-color: var(--main-green);
  height: 10vh;
  display: flex;

  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
}

.secondary-header {
  font-size: 24px;
  font-family: 'Pacifico', cursive;
}

.navigation {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-container {
  display: flex;
  height: 250px;
}

.content-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 33%;
  flex-direction: column;
  padding: 20px 0px 20px 0px;
  background-color: rgba(255, 255, 255, 0.719);
  border-radius: 10px;
}

.auth-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 75vh;
  margin-top: 20px;
}

.auth-container > * {
  margin: 50px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.719);
  border-radius: 10px;
}

#sign-up-form-container > * {
  margin: 10px;
}

#sign-in-form-container > * {
  margin: 10px;
}

.nav-button {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 16px;
}

.nav-button:hover {
  background-color: #314130;
}

.button1-design {
  background-color: var(--main-blue);
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14x;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.button1-design:hover {
  background-color: #304c5d;
}

.button2-design {
  background-color: var(--main-green);
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.button2-design:hover {
  background-color: #314130;
}

.button3-design {
  background-color: var(--main-red);
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.button3-design:hover {
  background-color: rgb(109, 26, 26);
}

.message-container {
  background-color: var(--main-blue);
  font-family: 'Josefin Sans', sans-serif;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.flex-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-disc-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-top: 10vh;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.719);
  border-radius: 10px;
  padding: 10px;
}

.create-disc-form > * {
  border-radius: 10px;
  border-radius: 10px;
  padding: 15px;
}

.flex-div {
  border-radius: 10px;
}

.stats-update-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.update {
  margin-top: 3vh;
  margin-bottom: 3vh;
  padding: 10px;
}

.stats {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.719);
  border-radius: 10px;
}

.update {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.719);
  border-radius: 10px;
}

.reviews {
  display: flex;
  align-items: flex-start;
  text-align: left;
  justify-content: left;
  flex-direction: column;
  padding: 15px;
  margin: 20px;
  color: white;
}

.review-disc-form {
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 10px;
}

.review-disc-form > * {
  margin: 10px;
}

.main-review {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--main-green);
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

.line {
  width: 112px;
  height: 47px;
  border-bottom: 1px solid black;
  position: absolute;
}

.footer {
  background-color: var(--main-green);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > p {
  margin: 5px;
}

.custom-select {
  background: none !important;
}

@media (max-width: 1433px) {
  body {
    background-size: auto;
  }
}

/*  hide at bottom  */
.hide {
  display: none;
}
